@import "tailwindcss";

@theme {
  --color-primary: oklch(0.68 0.15 50);
  --color-hover: oklch(0.62 0.14 45);
  --color-light-primary: oklch(0.88 0.08 52);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}
